{% block frosh_product_compare_description_cells %}
    {% for product in products %}
        {% block frosh_product_compare_description_cell %}
        <td>
            {{ product.translated.description|striptags|slice(0, 100) ~ '...' |raw }}
        </td>
        {% endblock %}
    {% endfor %}
{% endblock %}


