{% block frosh_product_compare_price_cells %}
    {% for product in products %}
        {% block frosh_product_compare_price_cell %}
            <td>{% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}</td>
        {% endblock %}
    {% endfor %}
{% endblock %}
