{% block frosh_product_compare_translated_attribute_cells %}
    {% for product in products %}
        <td>
            <span class="text-dark font-weight-semibold">
                {{ attribute(product.translated, attribute) }}
            </span>
        </td>
    {% endfor %}
{% endblock %}
