parameters:
    level: max
    paths:
        - src
    ignoreErrors:

        # NEXT-29041 - Needs to be fixed with a script, rest goes to baseline
        -
            message: '#.* generic class Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityRepository.*not specify its types: TEntityCollection#'
            reportUnmatched: false

        # Occurs at shopware 6.5.3 at method loadProductReviews
        -
            message: "#^Unreachable statement \\- code above always terminates\\.$#"
            count: 1
            path: src/Page/CompareProductPageLoader.php
            reportUnmatched: false

