<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Product Compare Configuration</title>
        <title lang="de-DE">Produktvergleichskonfiguration</title>

        <input-field type="bool">
            <name>active</name>
            <label>Enable Product Compare</label>
            <label lang="de-DE">Produktvergleich aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showIconOnly</name>
            <label>Add to compare with icon only</label>
            <label lang="de-DE">Hinzufügen, um nur mit dem Symbol zu vergleichen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showInHeader</name>
            <label>Show comparison in header</label>
            <label lang="de-DE">Zeige Vergleichen auch im Header</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="multi-select">
            <name>hideAttributes</name>
            <label>Hide attributes</label>
            <label lang="de-DE">Attribute ausblenden</label>
            <options>
                <option>
                    <id>description</id>
                    <name>Description</name>
                    <name lang="de-DE">Beschreibung</name>
                </option>
                <option>
                    <id>manufacturer</id>
                    <name>Manufacturer</name>
                    <name lang="de-DE">Hersteller</name>
                </option>
                <option>
                    <id>price</id>
                    <name>Price</name>
                    <name lang="de-DE">Preis</name>
                </option>
                <option>
                    <id>rating</id>
                    <name>Rating</name>
                    <name lang="de-DE">Bewertung</name>
                </option>
                <option>
                    <id>overview</id>
                    <name>Overview (Hide Overview section)</name>
                    <name lang="de-DE">Übersicht (Abschnitt Übersicht ausblenden)</name>
                </option>
                <option>
                    <id>specs</id>
                    <name>Specifications (Hide Specifications section)</name>
                    <name lang="de-DE">Spezifikationen (Abschnitt Spezifikationen ausblenden)</name>
                </option>

            </options>
        </input-field>
    </card>

    <card>
        <title>Properties</title>
        <title lang="de-DE">Eigenschaften</title>
        <component name="sw-switch-field">
            <name>showSelectedProperties</name>
            <bordered>bordered</bordered>
            <label>Only show selected properties</label>
            <label lang="de-DE">Zeige nur ausgewählte Eigenschaften</label>
            <defaultValue>false</defaultValue>
        </component>

        <component name="sw-entity-multi-id-select">
            <name>selectedProperties</name>
            <entity>property_group</entity>
            <label>Selected properties</label>
            <label lang="de-DE">Ausgewählte Eigenschaften</label>
        </component>
    </card>

    <card>
        <component name="sw-entity-multi-id-select">
            <name>selectedCustomFields</name>
            <entity>custom_field</entity>
            <label>Custom fields in the comparison table</label>
            <label lang="de-DE">Benutzerdefinierte Felder in der Vergleichstabelle</label>
        </component>

        <component name="sw-switch-field">
            <name>hideEmptyCustomFields</name>
            <bordered>bordered</bordered>
            <label>Hide empty Custom Fields</label>
            <label lang="de-DE">Verstecke leere benutzerdefinierte Felder</label>
            <defaultValue>false</defaultValue>
        </component>
    </card>
</config>
